version: '2'

services:

  https-portal:
    image: steveltn/https-portal:1
    ports:
      - 80:80
      - 443:443
    links:
      - lgtm-app
    restart: always
    environment:
      LISTEN_IPV6: 'true'
      DOMAINS: 'lgtm.mixin.tokyo -> http://lgtm-app:4567'
      STAGE: production # local, staging, or production
      # DOMAINS: 'localhost.com -> http://lgtm-app:4567'
      # STAGE: local

  lgtm-app:
    image: dsk0701/lgtm-app
    container_name: lgtm-app
    ports:
      - 4567:4567
    volumes:
      - lgtm_app_data:/app/docker-lgtm-app/public/images
    links:
      - db
    environment:
      DB_HOST: db
      DB_PORT: 3306
      DB_BOOT_WAIT_TIMEOUT: 60s

# docker run --rm --name mysql -e MYSQL_ROOT_PASSWORD=dev -v lgtm_db_data:/var/lib/mysql -d mysql:5.7

  db:
    image: mysql:5.7
    container_name: mysql
    environment:
        MYSQL_ROOT_PASSWORD: dev
    volumes:
      - lgtm_db_data:/var/lib/mysql

volumes:
  lgtm_app_data:
  lgtm_db_data:

